.title {
    margin-top: 20px;
  }
.col-6{
  font-weight: bold;
}
  #current-date {
    margin-top: 30px;
  }
  .temp {
    font-size: 30px;
  }
  .units {
    position: relative;
    top: -20px;
  }
  #celsius-link {
    text-decoration: none;
  }
  #fahrenheit-link {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  #small-card {
    font-weight: bold;
    margin-bottom: 50px;
    border: 2px solid #8f94a1;
  }
  
  .all-body {
    border: 3px solid #8f94a1;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
  }
.link{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}  
small{
  text-align: center;

}
.coder{
  text-align: center;
  margin-left: -300px;
  
}